
* {
    margin: 0;
    padding:0;
}
h1 {
    text-align: center;
}
p {
    font-size: 1.4em;
}  
.alineacion-izquierda {
    text-align: left;
}
.alineacion-derecha {
    text-align: right;
}
.alineacion-centro {
    text-align: center;
}
.alineacion-justificado {
    text-align: justify;
}