*{
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
}
 .menu {
    margin-left: 240px;
    margin-right: 20px;
}
header .top {
    margin-top: 7em;
}
nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 8px;
    z-index: 5;
}
ul {
    text-align: right;
    list-style: none;
}
li{
     display: inline-block;
}
a {
    text-decoration: none;
    color: rgb(48, 48, 48,.9);
    margin: 15px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    font-weight: 900;
    font-size: 1.3em;
}
header menu {
    margin-top: 15em;
}
header .img-principal {
    width: 100%;
}
header h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 3em;
    z-index: 10;
}
header p {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 1.8em;
}
header .content-main {
    width: 80%;
    margin:0 auto;
}
header .box-historia {
    margin-top: 20px;
}