* {
    margin: 0;
    padding:0;
}
.menu {
    margin-left: 240px;
    margin-right: 20px;
}
h1 {
    text-align: center;
}
p{
    font-size:3em;
}
.color-azul{
    color:blue;
}
.color-verde{
    color:rgb(0,255,0);
}
.color-gris{
    color:#64646464;
}
.color-redbull{
    color:rgb(0,28,57)
}
.color-1001fonts{
    color:rgb(142,21,30);
}