* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}
.content {
    margin-left: 240px;
    margin-right: 20px;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
.main-content {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    gap: 20px;      
    grid-template: "header          nav-class        nav-class"      100px
                   "section         section          section"    350px
                   "article-1       article-2        article-3"   auto
                   "article-4       article-5        article-6"   auto/
                   1fr              1fr              1fr;   
}
header {
    background: rgb(222, 8, 1);
    grid-area: header;
    margin-top: 30px;
    
}
header, .nav-class, section, .img-article {
    border-radius: 12px;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-class {
    position: relative;
    background:goldenrod;
    grid-area: nav-class;
    margin-top: 30px;
    padding: 6%;
}
section {
    background: darkcyan;
    grid-area: section;
}
.img-central {
    width: 100%;
    height: 100%;
    border-radius: 1%;
}
article {
    max-width: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
article .article-1{
    grid-area: article-1;
}
article .article-2{
    grid-area: article-2;
}
article .article-3{
    grid-area: article-3;
}
article .article-4{
    grid-area: article-4;
}
article .article-5{
    grid-area: article-5;
}
article .article-6{
    grid-area: article-6;
}
.img-article {
    width: 100%;
    height: 100%;
    margin: 20px 20px 20px 0;
    
}

.font-article {
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: black;
}
.titulo-articulo {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (min-width: 500px) and (max-width: 900px) {
            
    .main-content {
        width: 92%;
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        gap: 20px;
        grid-template: "header      nav-class   "                      100px
                       "section     section"                  350px
                       "article_1   article_2"                auto
                       "article_3   article_4"                auto
                       "article_5   article_6"                auto  /
                        1fr          1fr;
    }
}

@media screen and (min-width: 350px) and (max-width: 500px) {
    
    .main-content {
        width: 95%;
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        gap: 10px;
        grid-template: "header"                               100px
                       " nav-class   "                                  100px
                       "section"                              100px
                       "article_1"                            auto
                       "article_2"                            auto
                       "article_3"                            auto
                       "article_4"                            auto
                       "article_5"                            auto
                       "article_6"                            auto  /
                        1fr;
    }

    article {
        max-width: 600px;
        margin-left: 20px;
        margin-right: 20px;
    }
}