*{
    margin:0;
    padding:0;
}
h1 {
    text-align:center;
}
body {
    background: #FEFEFE;
}
.menu-bar {
    display: none;
}
header {
    width: 100%;
}
header nav {
    background: rgb(5, 70, 64);
    width: 100%;
    top: 5.4em;
}
header nav ul {
    list-style: none;
    text-align: center;
}
header nav ul li {
    display: inline-block;
    position: relative;
}
header nav ul li:hover {
    background: rgb(12, 117, 117);
}
header nav ul li a {
    display: block;
    color: white;
    padding: 8px;
    text-decoration: none;
    text-align: center;
}
header nav ul li .children {
    display: none;
    position: absolute;
    background: rgb(5,70,64);
    text-align: center;
}
header nav ul li:hover .children {
    display: block;
    text-align: center;
}
header nav ul li.children li {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}
header nav ul li .children li a {
    display: block;
}
header nav ul span {
    margin-right: 10px;
}
header nav ul li .icon-chevron-small-down{
    position:relative;
    top:3px;
    margin-left: 10px;
}
@media only screen and (max-width:750px),(min-width:450px) {
    body{
        padding-top: 68px;
    }
    .menu-bar{
        display: block;
        position: fixed;
        width: 100%;
        background: #06344a;
        top:0;
    }
    .bt-menu {
        display: block;
        padding: 20px;
        color:white;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        overflow: hidden;
    }
    .menu-bar span {
        float: right;
        font-size: 40px;
    }
    header nav {
        width: 30%;
        position:fixed;
        height: calc(100% - 80px);
        background: #023859fa;
        left: -100%;
        overflow: scroll;
    }
    header nav ul {
        text-align: center;
    }
    header nav ul li {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }
    header nav ul li a {
        display: block;
    }
    header nav ul li .children {
        position: relative;
        width: 100%;
    }
    header nav ul li .children li a {
        text-align: center;
        padding-left: center;
        background-color: #011c2cfa;
    }
    header nav ul li .icon-chevron-small-down {
        float: right;
    }
    header nav ul li:hover .children {
        display: none;
    }
}
