* {
    margin: 0;
    padding:0;
}

h1 {
    text-align: center;
    margin:auto;
}
table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}
td {
    border: 2px solid white;
    background-color: rgb(245, 245, 245);
    padding: 15px;
}
.titulo-caracteristicas {
    background-color: rgb(46, 88, 166);
    color: white;
    font-size: 1.2em;
    border-radius: 8%;
    border: none;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}
.celda1-1 {
    border: none;
}
.sin-fondon {
    background-color: white;
    text-align: top;
    line-height: 0;
    margin-top: -1em;
    font-weight: 900;
    padding-top: 0;
    border-top: 0;
}
.small-line-height {
    padding-bottom: .7em;
    margin-bottom: -1em;
    height: 50px;
}
img {
    padding-bottom: 0;
}