.contenedor {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template: "titulo  titulo     titulo" 
                   "imagen  descripcion";
    gap: 10px;
    position:relative;
    padding: 1%;
    border: solid  black ;
    border-radius: 10px;
    width: 400px;
    height: 525px;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
.titulo{
    display:auto;
    width: auto;
    text-align: center;
    background: yellow;
    padding: 5px;
    border-radius: 10px;
    width: 390px;
}
.imagen {
    grid-area: imagen;
    position: absolute;
    display: auto;
    cursor: pointer;
    bottom: 170px;
    left: 10px;
}
img {
    border-radius: 5%;
}
.descripcion{
    display: auto;
    position: absolute;
    top: 145px;
    left: 180px;
    right: 25px ;
}
.texto {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}
.text-titulo {
    font-family: 'Roboto', sans-serif;
} 
.btn-eliminar {
    cursor: pointer;
    border-radius: auto;
    padding: 15px;
}
.btn-guardar-tarde {
    cursor:pointer;
    border-radius: auto;
    padding: 15px;
}
.sumar-restar {
    display: auto;
    margin-top: 1em;
    position: absolute;
    cursor:pointer;
    border-radius: auto; 
    width: 200px;   
}
.restar {
    text-align: center;
    cursor: pointer;
    padding: 15px;
    border-radius: auto;
}
.numero {
    width: 15px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    border-radius: auto;
}
.sumar {
    text-align: center;
    cursor: pointer;
    padding: 15px;
    border-radius: auto ;
}

.eliminar-guardar {
    display: auto;
    position: absolute ;
    top: 470px;
    left: 80px;
}
@media only screen and (max-width:750px), (min-width:400px) {
    .contenedor {
        display:auto;
    }
    .imagen {
        display: auto;
    }
    .titulo {
        display: auto;
    }
}