table { 
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}
.content {
    width: 50%;
    display: block;
    margin:  50px auto ;
}
.table-style {
    border: 1px solid black ;
    padding: 10px;
}
tr, th {
    border: 1px solid black ;
    padding: 10px;
}
td {
    border: 1px solid black;
}
.btn-cargar-producto {
    cursor: pointer;
}